<!-- BEGIN: Main Menu-->
<div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
  <div class="navbar-header">
    <ul class="nav navbar-nav flex-row">
      <li class="nav-item mr-auto">
          <a class="navbar-brand" href="/admin-dashboard">
            <img style="margin-top: -10px;margin-left: -13px;" src="/assets/app-assets/images/logo/logo.png" height="45px" width="45px" alt="">
            <h2 style="margin-left: -5px;margin-top: -35px;" class="brand-text">Bacancy</h2>
          </a>
      </li>
      <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="d-block d-xl-none text-primary toggle-icon font-medium-4" data-feather="x"></i><i class="d-none d-xl-block collapse-toggle-icon font-medium-4  text-primary" data-feather="disc" data-ticon="disc"></i></a></li>
    </ul>
  </div>
  <h4 style="margin-left: 50px;margin-top: -25px;" class="brand1-text">NodeJS</h4>
  <!-- <div class="shadow-bottom"></div> -->

  <% if(user_role === 'admin' ) { %>

  <div class="main-menu-content">
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
      <li style="margin-top: 30px;" class=" nav-item"><a class="d-flex align-items-center" href="/admin-dashboard"><i data-feather="home"></i><span class="menu-title text-truncate" data-i18n="Dashboards">Dashboards</span></a>
        <!-- <ul class="menu-content">
          <li><a class="d-flex align-items-center" href="dashboard-analytics.html"><i data-feather="circle"></i><span class="menu-item text-truncate" data-i18n="Analytics">Analytics</span></a>
          </li>
          <li class="active"><a class="d-flex align-items-center" href="dashboard-ecommerce.html"><i data-feather="circle"></i><span class="menu-item text-truncate" data-i18n="eCommerce">eCommerce</span></a>
          </li>
        </ul> -->
      </li>
      
      <!-- <li class=" nav-item"><a class="d-flex align-items-center" href="/view-admin"><i data-feather="user-check"></i><span class="menu-title text-truncate" data-i18n="Dashboards">Manage Admin</span></a>
      </li> -->

      <li class=" nav-item"><a class="d-flex align-items-center" href="/view-employee"><i data-feather="user"></i><span class="menu-title text-truncate" data-i18n="Dashboards">Manage Employee</span></a>
      </li>

      <li class=" nav-item"><a class="d-flex align-items-center" href="/view-product"><i data-feather="arrow-right-circle"></i><span class="menu-title text-truncate" data-i18n="Dashboards">Manage Product</span></a>
      </li>
    </ul>  
  </div>

  <% } else { %>

    <div class="main-menu-content">
      <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
        <li style="margin-top: 30px;" class=" nav-item"><a class="d-flex align-items-center" href="/employee-dashboard"><i data-feather="home"></i><span class="menu-title text-truncate" data-i18n="Dashboards">Dashboards</span></a>
        </li>
      </ul>  
    </div>
  

  <% } %>  
</div>
<!-- END: Main Menu-->